.whiteboard {
  margin: 16px;
  height: 96%;
}

.whiteboard .toolbar {
  border: 1px solid green;
  height: 100%;
  display: inline-block;
  text-align: center;
  padding: 8px;
}

.whiteboard .workspace {
  border: 1px solid blue;
  height: 100%;
}
