.vc-footer {
  display: grid;
  grid-template-rows: auto auto;
  height: 72px;
}

.vc-footer .toolbar-container {
  margin-top: 8px;
}

.vc-footer .time {
  margin-top: 16px;
  margin-left: 16px;
  display: flex;
  min-width: 128px;
}
.white-content h3 {
  color: #FFFFFF !important;
  margin-left: 16px;
}

@media screen and (max-width:800px) {
  .vc-footer .time {
    display: none;
  }
}

@media (max-device-width: 820px) {
  .vc-footer {
    position: absolute;
    bottom: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 820px) {
  .vc-footer {
    position: absolute;
    bottom: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
