.vc-footer {
  display: grid;
  grid-template-rows: auto auto;
  gap: 20px;
  padding: 16px 0;
  max-height: 180px;
}

.vc-footer .toolbar-container {

}

.vc-footer .video {
  justify-content: flex-end;
}

.vc-footer .video,
.vc-footer .time {
  display: flex;
  max-width: 280px;
}


@media screen and (max-width:800px) {
  .vc-footer .video,
  .vc-footer .time {
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }

  .vc-footer .toolbar-container {
    margin: 16px 0;
    align-items: center;
  }
}
