.vc-footer {
  display: grid;
  grid-template-rows: auto auto;
  height: 72px;
}

.vc-footer .toolbar-container {
  margin-top: 8px;
}

.vc-footer .time {
  margin-top: 16px;
  margin-left: 16px;
}

.vc-footer .time {
  display: flex;
  min-width: 128px;
}

@media screen and (max-width:800px) {
  .vc-footer .time {
    display: none;
  }
}
