.meeting-participant-container {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: #d9d9d9;
}

@media  screen and (max-width:800px) {
}
