.grid,
.grid .item {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
  height: 100%;
  width: 100%;
}

.grid .item {
  display: flex;
}

.grid {
  height: 100%;
  background-color: #000000;
  border-radius: 4px;
  padding: 16px 16px 16px 8px;
}

.grid-side-bar {
  width: 320px;
  margin: 4px 12px !important;
  height: 98%;
  max-height: 98%;
  overflow: auto;
}

.side-grid-item {
  height: 200px;
  max-height: 200px;
  border-bottom: 16px solid #000000;
}

.grid-side-bar .side-grid-item:last-child {
  border-bottom: unset;
}

@media  screen and (max-width:800px) {
}
