.meeting-participant-container {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
  max-height: 100%;
}

.name-label-sm,
.name-label {
  color: #ffffff;
  font-size: 16px;
  margin-top: -32px;
  padding-left: 12px;
  text-align: left;
}

.name-label-sm {
  font-size: 10px;
  margin-top: -12px;
  text-align: center;
  padding-left: 0;
}

.host-mic {
  cursor: pointer;
}

video {
  object-fit: cover;
  height: unset;
}

@media  screen and (max-width:800px) {
}
