.activity-card-wrapper-child,
.activity-card-wrapper-root {
  max-width: 100%;
  padding: 8px;
  display: flex;
  margin-bottom: 2px;
}

.activity-card-wrapper-root {
  border-bottom: 1px solid #e1e1e1;
}

.activity-card-wrapper-child {
  border-radius: 4px;
}

.self {
  justify-content: flex-end;
}

.activity-card-wrapper-root .activity-card,
.activity-card-wrapper-root .activity-card-unread,
.activity-card-wrapper-root .activity-card-selected {
  width: 100%;
  padding: 8px;
}

.activity-card-wrapper-child .activity-card,
.activity-card-wrapper-child .activity-card-unread,
.activity-card-wrapper-child .activity-card-selected {
  background-color: #ffffff;
  padding: 8px;
  min-width: 320px;
}

.activity-card-unread {
  background-color: #e9e9e9;
}

.activity-card-selected {
  background-color: #ffffff;
}

.activity-card:hover,
.activity-card-unread:hover,
.activity-card-selected:hover {
  cursor: pointer;
  background-color: #f9f9f9;
}
