.person-card {
  padding: 8px 0;
  border-radius: 4px;
  max-width: 100%;
}

.person-card .bottom-strip {
  width: 100%;
  padding-top: 8px;
}

.person-card .bottom-strip .buttons{
  display: flex;
  justify-content: flex-end;
}

.person-card .bottom-strip .indicator {

}

.person-card .bottom-strip .indicator .online,
.person-card .bottom-strip .indicator .offline{
  width: 16px;
  height: 16px;
  margin: 20px 0 0 28px;
}

.person-card .bottom-strip .indicator .offline{
  background-color: red;
}

.person-card .bottom-strip .indicator .online{
  background-color: green;
}

.person-card .user-details {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-left: 8px;
}

.avatar-small {
  width: 32px;
}

.blink-me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

@media screen and (max-width: 991px) {
  .person-card {
    padding: 0;
    justify-content: center;
  }
}

