.chats-file-upload {
  width: 100%;
}

.file-upload {
  position: absolute;
  margin-top: 8px;
  margin-left: -54px;
  z-index: 1;
  width: 50%;
}

.chat-input {
  width: 100%;
}

.chat-input label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 70%;
}

.chat-avatar {

}

.chatrooms {
  display: flex;
  flex-direction: column;

  .chatrooms__rooms {
    max-height: 84.7vh;
    overflow: auto;
  }

  .chatrooms__rooms::-webkit-scrollbar {
    display: none;
  }

  .chatrooms__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e1e1e1;
  }

  .header__left {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header__left > h5 {
    margin: 20px 5px;
    margin-left: 20px;
  }

  .header__right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header__right > .MuiSvgIcon-root {
    margin: 0 5px;
  }

  .header__right > .MuiButtonBase-root > .MuiIconButton-label > img {
    margin: 0 5px;
    height: 20px;
  }

  .chatroom__item {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #e1e1e1;
    padding: 10px;

    .MuiAvatar-root {
      background-color: #2d6597;
    }
  }

  .active-tab {
    background-color: #ebebeb;
  }

  .chatroom__item:hover {
    background-color: #ebebeb;
  }

  .chatroom__info {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 20px;
    width: 100%;
  }

  .chatRoom__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .chatRoom__title > h6 {
    font-size: 14px;
  }

  .chatroom__message {
    font-size: 12px;
  }

  .back-drop {
    background-color: rgba(48, 49, 48, 0.42);
    height: 100%;
    position: fixed;
    transition: all 1.3s;
    width: 100%;
  }
}

.chatroom {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: 100%;

  .image__text {
    padding: 0 9%;
    color: #929292;
    font-size: 12px;
  }

  .chatroom__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 4px 4px 4px 8px;
    padding-right: 7%;
    border-bottom: 1px solid #e1e1e1;
    width: 100%;

    .chatroom__headerleft {
      display: flex;
      flex-direction: row;
      align-items: center;
      max-width: 80%;
    }

    .chatroom__headerleft > .MuiAvatar-root {
      background-color: #464775;
    }
  }

  .chatroom__header > .chatroom__headerleft > h5 {
    margin: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
  }

  .chatroom__body {
    height: 95%;
    overflow: auto;
    padding: 0 15px;
  }

  .chatroom__sendMessage {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 9% 0 3%;

    .message__imageSelector > input {
      display: none;
    }

    .message__imageSelector > .MuiSvgIcon-root {
      margin: 0 10px;
      font-size: 40px;
      cursor: pointer;
    }

    input[type=file]::file-selector-button {
      display: none;
    }

    .MuiSvgIcon-root {
      font-size: 36px;
    }
  }

  .mychat {
    position: relative;
    flex-direction: column;
    margin-left: auto;
    width: fit-content;
    margin-right: 7%;
    background-color: #D7D7E9;
    padding: 0.1px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
  }

  .mychat > span {
    font-size: 10px !important;
    font-weight: 500;
    padding: 7px;
  }

  .mychat > span {
    font-size: 12px;
    padding: 3px;
  }

  .peerchat {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;

    .MuiAvatar-root {
      background-color: #464775;
    }
  }

  .peerchat > .peer {
    margin-left: 10px;
    background-color: #eadfd5;
    padding: 0.1px 10px;
    margin-top: 5px;
    border-radius: 15px;
  }

  .peerchat > .peer-event {
    margin-left: 10px;
    background-color: red;
    padding: 0.1px 10px;
    margin-top: 5px;
    border-radius: 15px;
  }

  .peerchat > div > span {
    font-size: 10px !important;
    font-weight: 500;
    padding: 7px;
  }

  .peerchat > div > span {
    font-size: 12px;
    padding: 3px;
  }

  @media screen and (max-width: 991px) {
    .chatroom__header > .chatroom__headerleft > h5 {
      margin: 8px;
    }

    .chatroom__headerleft {
      max-width: 70%;
    }
  }
}

.createChatModal {
  position: absolute;
  left: 35%;
  margin-left: -50px;
  top: 30%;
  margin-top: -50px;
  z-index: 1;

  .modal-wrapper {
    background: white;
    border: 1px solid #d0cccc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    margin: 0;
    transition: all .8s;
    width: 80vh;
  }

  .modal-header {
    background: #EBEBEB;
    height: 40px;
    line-height: 40px;
    padding: 5px 20px;
    text-align: right;
  }

  .modal-header h4 {
    float: left;
    margin: 0;
    padding: 0;
  }

  .modal-body {
    padding: 10px 15px;
    text-align: center;
  }

  .modal-footer {
    background: #EBEBEB;
    height: fit-content;
    padding: 15px;
  }

  .close-modal-btn {
    cursor: pointer;
    float: right;
    font-size: 30px;
    margin: 0;
  }

  .close-modal-btn:hover {
    color: black;
  }

  .btn-continue {
    background-color: #464775;
    float: right;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 10px;
  }
}

.emptychat {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 400px;
    object-fit: contain;
  }

  h4 {
    margin-top: 60px;
    text-align: center;
  }
}

.poll-content {
  margin-top: 16px;
  margin-bottom: 28px;
  padding: 20px 15px 20px 15px;
  letter-spacing: .01em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.poll-question {
  font-weight: 500;
  font-size: 21px;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 4px;
}

@media (max-width: 768px) {
  .poll-question {
    font-size: 18px;
  }
}

.poll-choices {
  margin-top: 4px;
  margin-bottom: 8px;
}

.poll-choice-radio-group {
  display: block;
  width: 100%;
}

.poll-choice-radio {
  display: block;
  line-height: 1.7;
  font-size: 12px;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.75);
}

.vote-button {
  border-radius: 15px;
  margin-right: 15px;
  color: #975f2d;
  border-color: #975f2d;
}

.vote-button:hover {
  color: #975f2d;
  border-color: #975f2d;
}

.vote-button[disabled], .vote-button[disabled]:hover, .vote-button[disabled]:focus {
  color: #975f2d;
  border-color: #975f2d;
  background-color: #fff;
  opacity: 0.4;
}

.separator {
  margin-left: 10px;
  margin-right: 10px;
  color: #8899A6;
}

.cv-poll-choice {
  position: relative;
  margin-bottom: 8px;
}

.cv-poll-choice-details {
  position: relative;
  z-index: 1;
  display: block;
  line-height: 1.7;
  font-size: 15px;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cv-choice-percentage {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.75);
}

.cv-choice-text {
  margin-left: 10px;
  display: inline-block;
  vertical-align: bottom;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.selected-choice-icon {
  margin-left: 10px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.75);
}

.cv-choice-percent-chart {
  position: absolute;
  background: #E1E8ED;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: .35em;
  transition: all .3s cubic-bezier(0.5, 1.2, .5, 1.2);
  opacity: 1;
}

.cv-choice-percent-chart.winner {
  background-color: #eadfd5;
}

.cv-choice-percent-chart.event {
  background-color: #d2d7d8;
}

.poll-creator-info {
  margin-left: 58px;
  margin-bottom: 10px;
  height: 58px;
}

.poll-creator-info .creator-link {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.poll-creator-info .creator-link:hover .poll-creator-name {
  color: #1890ff;
  text-decoration: underline;
}

.poll-creator-avatar {
  float: left;
  margin-top: 3px;
  margin-left: -58px;
  position: absolute;
  width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 24px;
}

.poll-creator-avatar > * {
  line-height: 48px;
  font-size: 18px;
}

.poll-creator-name {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.85);
  margin-top: 4px;
  display: inline-block;
  margin-right: 8px;
}

.poll-creator-username {
  color: #657786;
  font-size: 15px;
  display: inline-block;
}

.poll-creation-date {
  display: block;
  color: #657786;
  font-size: 13px;
  margin-top: 2px;
}

.header-title {
  color: black !important;
}

@media screen and (max-width: 991px) {
  .chat-avatar {
    display: none;
  }
}

