
.sidebar {
  width: 144px !important;
  height: calc(100% - 54px) !important;
  background: rgb(40, 40, 43) !important;
  box-shadow: none !important;
  top: 54px !important;
  border-radius: 0 !important;
}

.sidebar .nav,
.off-canvas-sidebar .nav {
  max-height: unset !important;
  overflow: hidden !important;
}

.sidebar .nav li > a, .off-canvas-sidebar .nav li > a {
  margin: 4px 0;
  padding: 0;
}

.sidebar .nav li > a, .off-canvas-sidebar .nav li > a {
  color: #FFFFFF !important;
}

.menu-item {
  margin-left: 3px;
}

.menu-item .menu-item-icon,
.menu-item .menu-item-label {
  /*opacity: .4;*/
}

.menu-item-active tr td,
.menu-item tr td {
  text-align: center;
}

.menu-item:hover {
  opacity: 1;
  color: #f9f9f9;
}

.menu-item,
.menu-item-active {
  padding: 4px 0;
  border-radius: 2px;
  color: #f9f9f9 !important;
}

.menu-item-active {
  /*border-left: 3px solid #985F31;*/
  margin-left: 0;
}

.menu-item a,
.menu-item-active a {
  margin: 8px 0 !important;
  padding-top: 4px;
  color: #ffffff;
  border-radius: 4px;
}

.menu-item-active a {
  /*border-left: 3px solid #985F31;*/
  background-color: #f9f9f9 !important;
  color: #a1704d;
}

.menu-item a:hover,
.menu-item-active a:hover {
  color: #a1704d !important;
}

.menu-item a:focus,
.menu-item-active a:focus {
  color: #ffffff !important;
  text-decoration: none;
}

.menu-item a span,
.menu-item-active a span {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  letter-spacing: 0.02em;
  color: #ffffff !important;
}

.menu-item a span:hover,
.menu-item-active a span:hover {
  opacity: 1;
}

.menu-item-active a span {
  color: #985F31;
}

.menu-item a span {
  color: #985F31;
}

.menu-item-icon {
  width: 100%;
}

.copyright {
  padding-bottom: 16px;
  color: #ffffff;
}

.utils-menu {
  height: 12%;
}

@media screen and (max-width: 991px) {
  .sidebar {
    width: 144px !important;
  }

  .sidebar-wrapper {
    width: 144px !important;
  }

  .utils-menu {
    height: 30%;
  }
}
