.people-container {
  padding: 32px;
}

.search {
  height: 64px;
  width: 50%;
}

.people-content {
  border-top: 1px solid #e1e1e1;
  width: 100%;
  padding: 0 !important;
}

.participant-card {
  padding: 4px;
  max-width: 100%;
}

.participant-card .bottom-strip {
  width: 100%;
  padding-top: 8px;
}

.participant-card .bottom-strip .buttons{
  display: flex;
  justify-content: flex-end;
}

.participant-card .bottom-strip .indicator {

}

.participant-card .bottom-strip .indicator .online,
.participant-card .bottom-strip .indicator .offline{
  width: 16px;
  height: 16px;
  margin: 20px 0 0 28px;
}

.participant-card .bottom-strip .indicator .offline{
  background-color: red;
}

.participant-card .bottom-strip .indicator .online{
  background-color: green;
}

.participant-card .user-details {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-left: 8px;
}

.avatar-small {
  width: 32px;
}


.header-panel {
  margin-bottom: 0.25rem;
  margin-top: 8px;
  letter-spacing: .01785714em;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25rem;
  color: #a1a1a1 !important;
  padding: 0 8px;
}
