.card-wrapper {
  border: 1px solid #985F31;
  background: rgb(229, 229, 229) !important;
}

.card-body-wrapper {
  margin-top: 8px;
  flex: 1 1 auto !important;
  padding: 1.5rem 1.5rem !important;
}
