.app-calendar,
.fc-view-harness {
  margin: unset !important;
}

.fc-header-toolbar button:hover {
  transform: scale(1);
}

.event-popup {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  padding: 8px;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.event-popup .pointer {
  width: 100%;
  height: 8px;
}

.event-popup .top-toolbar {
  width: 100%;
  height: 48px;
}

.event-popup .top-toolbar .left {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.event-popup .top-toolbar .right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.event-popup .summary {
  width: 376px;
  height: calc(100% - 72px);
  padding: 16px;
}

.event-popup .summary .title {
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-popup .summary .organiser {
  font-size: 16px;
  font-weight: 600;
}

.event-button {
  width: 50%;
  border-radius: 4px;
  background-color: #01476C;
  color: #ffffff;
}

.fc-direction-ltr .fc-list-day-text,
.fc-event-main-frame,
.fc-header-toolbar .fc-toolbar-chunk:nth-of-type(3) .fc-button-group button {
  border-color: #dfe8ed !important;
  color: #01476C !important;
}

.fc .fc-daygrid-event-harness .fc-event:hover {
  background-color: #dfe8ed !important;
  border-color: #dfe8ed !important;
}

.fc .fc-toolbar .fc-button-group .fc-button-primary:not(.fc-prev-button):not(.fc-next-button).fc-button-active,
.fc .fc-toolbar .fc-button-group .fc-button-primary:not(.fc-prev-button):not(.fc-next-button):hover {
  border-color: #dfe8ed !important;
  color: #945c33 !important;
  background-color: rgba(1, 71, 108, 0.2) !important;
}

.fc .fc-toolbar .fc-next-button .fc-icon,
.fc .fc-toolbar .fc-prev-button .fc-icon {
  border-color: #dfe8ed !important;
  color: #945c33 !important;
  background-color: transparent !important;
}

.app-calendar .fc-day-past .fc-daygrid-day-number,
.app-calendar .fc-day-future .fc-daygrid-day-number {
  color: #6e6b7b;
}

.fc .fc-day-other .fc-daygrid-day-top,
.fc .fc-day-other .fc-daygrid-day-botton {
  opacity: .5;
}

.fc-button:hover {
}

.fc-v-event {
  display: block;
  border: none !important;
  background-color: unset !important;
}

.modal-title {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: #3E435D;
}

button:focus {
  outline: none !important;
}

.fc-daygrid-day-events a {
  color: #01476C;
  border: 4px solid #dfe8ed;
  background-color: #dfe8ed !important;
  border-radius: 4px !important;
}

.fc-daygrid-body table {
  border-bottom: 1px solid #ebe9f1 !important;
}

.fc-view-harness,
.fc-view-harness-active {
  min-height: unset !important;
}

.fc-daygrid-dot-event .fc-event-title {
  font-weight: 500 !important;
}

.fc .fc-daygrid-event-harness .fc-event {
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #dfe8ed !important;
  font-weight: 500 !important;
}


.fc-daygrid-day-events a:hover,
.fc-daygrid-day-events a:focus {
  color: #01476C !important;
  border-color: #dfe8ed !important;
}

.fc-daygrid-event-dot {
  border-color: #01476C;
  display: none;
}

.fc-daygrid-event-dot:hover {
  border-color: #dfe8ed;
  display: none;
}

.fc-daygrid-day-events a:hover .fc-daygrid-event-dot {
  border-color: #ffffff !important;
}

.fc-sidebarToggle-button {
  display: none !important;
}

.fc .fc-list-event-dot {
  border: 5px solid #dfe8ed !important;
}

.fc-scrollgrid-section-body table {
  background-image: url('/assets/calendar_background.png');
  background-repeat: no-repeat;
  background-size: 28% auto;
  background-attachment: fixed;
  background-position: center;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: rgba(234, 223, 213, .5) !important;
}

.app-calendar .fc-day-past .fc-daygrid-day-number {
  color: #000000
}

.fc .fc-day-other .fc-daygrid-day-top, .fc .fc-day-other .fc-daygrid-day-botton {
  opacity: .5
}

/*

.fc-day-past {
  color: #6e6b7b
}
*/
