.content {
  padding: 0 0 0 136px !important;
}

.navbar {
  padding: 0 16px !important;
  width: calc(100% - 144px) !important;
  background-color: #f9f9f9 !important;
}

.navbar.navbar-absolute {
  /*z-index: 100000 !important;*/
  width: 100% !important;
  background-color: rgba(234,223,213, .5) !important;
}

.navbar .navbar-brand {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-margin {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.navstrip {
  width: 100% !important;
  display: flex;
  align-items: center;
}

.nav-right-buttons {
  height: 54px;
  width: 80px;
  float: right;
  display: flex;
  justify-content: right;
  align-items: center;
}

.small-screen-menu-items {
  display: none;
}

.user-label {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #525f7f;
}

.date-label {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #525f7f;
}

@media screen and (max-width: 991px) {
  .content {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .navstrip {
    width: 100% !important;
  }

  .navbar {
    width: 100% !important;
  }

  .nav-right-buttons {
  }

  .small-screen-menu {
    border: 1px solid #a1a1a1;
    display: inline-block;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 4px;
  }

  .small-screen-menu-items {
    display: inherit !important;
  }
}
