.file-label {
  background-color: #e1e1e1;
  padding: 4px 8px;
  border-radius: 16px;
  z-index: 100;
}

.file-label td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100px;
}

.close-button {
  border-radius: 50%;
  background-color: #a1a1a1;
  width: 16px !important;
  height: 16px;
  margin: 4px 0 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button:hover{
  cursor: pointer;
}

.input-wrapper {
  width: 80%;
}

.auto-complete-disabled svg {
  display: none !important;
}

.text-area-wrapper {
  width: 100%;
  min-height: 150px;
}

.MuiFormHelperText-root.Mui-error {
  color: #f44336 !important;
}

.files .MuiInput-underline:before,
.files .MuiInput-underline:after {
  border-bottom: none !important;
}

.option-label {
  cursor: pointer;
  color: blue;
}

@media screen and (max-width: 991px) {
  .input-wrapper {
    width: 100%;
  }
}
