/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root,
.wrapper {
  width: 100%;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0 8px 28px -6px rgba(24, 39, 75, 0.12),
    0 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  width: 100%;
}

.centered-flex-box {
  display: flex;
  align-Items: center;
  justify-content: center
}

.no-side-margin {
  margin-left: unset !important;
  margin-right: unset !important;
}

.no-side-padding {
  margin-left: unset !important;
  margin-right: unset !important;
}

.alert-dialog-container {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  overflow-y: hidden !important;
}

.MuiDialog-root {
  z-index: 1051 !important;
}

.avatar {
  font-size: 36px;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background: #00476a;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.avatar::after {
  content: attr(data-label);
  font-family: 'Readex Pro', sans-serif;
  color: #FFFFFF;
}

a:not([href]):not([tabindex]), a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: #0000ee !important;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  text-decoration: underline !important;
}

a {
  color: #0000ee;
}

a:hover, a:focus {
  text-decoration: underline;
  cursor: pointer;
}
